h1 404 - Page not found
p Sorry, we couldn't find the page you were looking for.
hr
p: strong Tried searching for it?
form(method="get", action="/search")
  input.search-query(type="text", name="q", placeholder="Search")