header.page-header
  h1 Frequently Asked Questions
  p.lead Have you tried turning it on and off again?


h2 What is the meaning of life?
p Lorem ipsum Est minim voluptate in dolor Ut esse et occaecat dolore ut dolor exercitation laborum ad. Lorem ipsum Veniam commodo officia magna id officia velit Duis minim consectetur ea voluptate cupidatat veniam.
hr

h2: a(href="#q2", data-toggle="collapse") How can I create a collapsable question?
#q2.collapse
  p Lorem ipsum Est minim voluptate in dolor Ut esse et occaecat dolore ut dolor exercitation laborum ad. Lorem ipsum Veniam commodo officia magna id officia velit Duis minim consectetur ea voluptate cupidatat veniam.
  p: img(src="http://placekitten.com/500/300")
  p Lorem ipsum Est minim voluptate in dolor Ut esse et occaecat dolore ut dolor exercitation laborum ad. Lorem ipsum Veniam commodo officia magna id officia velit Duis minim consectetur ea voluptate cupidatat veniam.

hr
h2 Need help?
p: a.btn-large.btn.btn-primary(href="/support") Contact our Support Team &rarr;