.content
  .hero-unit
    h1 #{ name }
    p Concept brand conversations that virally WOW engaged followers.

    p
      a.btn.btn-primary.btn-large(href="/getting-started") Get started &rarr;

  hr

  .row-fluid
    .span4
      h3 File Name = URL
      p Create new pages by creating new files and directories. Those pages will automatically be wrapped using the <code>_layout.jade</code> file.
      p: a.btn.btn-large(href="http://docs.harp.io/templating/rules") Learn more &rarr;
    .span4
      h3 Web Services
      p It's incredible what you can achieve using Web services. The search, support form and code embeds in this site were all done using external services.
      p: a.btn.btn-large(href="/getting-started/") Check it out &rarr;
    .span4
      h3 Responsive Design
      p Out of the gate your docs will look great in any device.