header.page-header
  h1 Support
  p.lead We're here to help you

p Lorem ipsum Ex anim sint tempor veniam et deserunt occaecat fugiat officia sed mollit cillum Excepteur voluptate reprehenderit ullamco magna eiusmod incididunt ut esse adipisicing dolore sit irure nulla quis aliqua.

hr

h2 Contact form powered by Wufoo:

#wufoo-z7x4m1 Fill out <a href="http://hbsamples.wufoo.com/forms/z7x4m1">online form</a>.
script.
  var z7x4m1;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'hbsamples', 
  'formHash':'z7x4m1', 
  'autoResize':true,
  'height':'557',
  'async':true,
  'header':'hide'};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { z7x4m1 = new WufooForm();z7x4m1.initialize(options);z7x4m1.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');