#thumbnail-modal.modal.fade.container.col-md-12(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='false')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
        h4#myModalLabel.modal-title Modal title
      .modal-body
        #wrapper.wrapper
          #scroller.scroller
            ul#frames
        #wrapper2.wrapper
          #scroller2.scroller
            ul#frames2
        form(role='form', position:"top"='')
          .form_group
            .row
              #arrayLengthButton
        .modal-footer
          .btn-group.btn-group-justified
            .btn-group
              button.btn.btn-default#thumbnail-done(type='button') Done
