header.page-header
  h1 Getting Started
  p.lead This documentation site was built using popular web services:

h2 Support Form
p The support form is powered by <a href="http://www.wufoo.com/">Wufoo</a>, which gives you full support for styling, field validation and even auto responses.
p: a.btn-large.btn.btn-primary(href="/support") View example &rarr;

hr

h2 Local Search
p Using <a href="http://www.google.com/cse">Google Custom Search Engine</a> you can have a fully customized search experience powered by Google.
p: a.btn-large.btn.btn-primary(href="/search?q=install") View example results &rarr;

hr

h2 Embedding Source Code
p Leverage services like Github's Gist or JSFiddle to make your code look beautiful.
p: a.btn-large.btn.btn-primary(href="/getting-started/page-1") View examples &rarr;