header.page-header
  h1 Hello World
  p.lead Creating your first ABC App

p Lorem ipsum Anim sint do amet aliqua sit nulla nostrud mollit commodo Ut eiusmod non fugiat velit occaecat proident ut ullamco aliquip id culpa eiusmod officia dolor cillum sint ut nostrud est dolore laborum voluptate nostrud tempor id.

hr
h2 What's next?
p: a.btn-large.btn.btn-primary(href="/support") Go to Support &rarr;